# Environment variables
.env

# Python virtual environment
.venv/
venv/
env/

# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# IDE / editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Optional: backup / temp files
*.bak
*.tmp
*.swp
